# Importing libraries

In [1]:
#imports the math library 
import math
import numpy as np

In [2]:
math.pow(5,9)

1953125.0

In [3]:
# Adds two elements of the list
a= [2,3]
c=np.sum(a)
c

5

# Data types

In [4]:
#prints the nameof the data type for particular value
print(type(7.8))
print(type('amazing'))
print(type(True))

<class 'float'>
<class 'str'>
<class 'bool'>

# Conditional Statements

In [5]:
x=7
if   x<5:
    print('good')
elif x==0: 
    print('better')
else:
    print('best')

best

# Lists(Mutable)

In [6]:
Cars = ['Audi','BMW','Mercedes','RollsRoyce','Jaguar']

##List Modification

# Prints the 0th index element of the list
print(Cars[0])
# Prints the length of the list
print("lenght of the list is :" , len(Cars))
# Appends the current list with a new element at last position
Cars.append("Limo")
# Removes an element from the list
Cars.remove('Jaguar')
print("The appended list is :",Cars)

Audi
lenght of the list is : 5
The appended list is : ['Audi', 'BMW', 'Mercedes', 'RollsRoyce', 'Limo']

In [7]:
##List slicing

# This operation slices the list from 0th index position to 2nd index position
print(Cars[0:2])
# This operation slices the list from 0th position to 5th position but with a stride of 2
print(Cars[0:5:2])
# This operation prints the complete list backwards
print(Cars[::-1])

['Audi', 'BMW']
['Audi', 'Mercedes', 'Limo']
['Limo', 'RollsRoyce', 'Mercedes', 'BMW', 'Audi']

In [8]:
##List sorting

#This operation sorts the list in alphabetical order and the sorted command returns the sorted list.
Cars.sort()
sorted(Cars)

['Audi', 'BMW', 'Limo', 'Mercedes', 'RollsRoyce']

In [9]:
# This operation sorts the list in reverse order
Cars.sort(reverse=True)
sorted(Cars, reverse=True)

['RollsRoyce', 'Mercedes', 'Limo', 'BMW', 'Audi']

# Tuples(Immutable)

In [10]:
digits = ("zero",1,"two",3)
print(digits)
print(len(digits))
print(digits[3])

('zero', 1, 'two', 3)
4
3

# Strings(Immutable)

In [11]:
s = 'Data Science is fun'

print(s.lower())                 #converts the string to lowercase 
print(s.upper())                 #converts the string to uppercase
print(s.find('is'))              # finds the index of first occurence
print(s.find('are'))             # returs -1 if the element is not found
print(s.replace('fun','an art')) # replaces the current element with a new element
print(s.split())                 # splits the string into sub-strings seperarted by a delimiter

data science is fun
DATA SCIENCE IS FUN
13
-1
Data Science is an art
['Data', 'Science', 'is', 'fun']

# Dictionaries(Mutable)

In [12]:
#  For creating a dictionary there are two ways

Algo = {'1':'SVM', '2':'KNN', '3':'Genetic','4':'DBSCAN'}
Inventory = dict(apples = 2,oranges = 4,bananas = 5,pineapple = 7)
print(Algo)
print(Inventory)

{'1': 'SVM', '2': 'KNN', '3': 'Genetic', '4': 'DBSCAN'}
{'apples': 2, 'oranges': 4, 'bananas': 5, 'pineapple': 7}

In [13]:
# Examining a dictionary

print(len(Algo))     # length of the dictionary
print(Algo['1'])     # returns the value corrosponding to the key
print(Algo.keys())   # returns all the keys of the dictionary Algo
print(Algo.values()) # returns all the values of the dictionary Algo

4
SVM
dict_keys(['1', '2', '3', '4'])
dict_values(['SVM', 'KNN', 'Genetic', 'DBSCAN'])

In [14]:
# Modifiying a dictionary

Inventory['peach'] = 8  # adds the key peach to the dictionary and editig the same entry can also be done using same command
print(Inventory)

del Inventory['peach']  # delets the entry from the dictionary
print(Inventory)

{'apples': 2, 'oranges': 4, 'bananas': 5, 'pineapple': 7, 'peach': 8}
{'apples': 2, 'oranges': 4, 'bananas': 5, 'pineapple': 7}

# Functions

In [15]:
#defining a function with one argument and returning two values

def minmax_nums(nums):          #creates a function named minmax_nums
    return max(nums),min(nums)  #returns the max and min values of the list nums

nums = [0,1,3,5]
minmax_nums(nums)

(5, 0)

# Loops

In [16]:
Cars = ['Audi','BMW','Mercedes','RollsRoyce','Jaguar']
for i in range(len(Cars)): # for loop by iterating over a list using the range function
    print(Cars[i].lower())

audi
bmw
mercedes
rollsroyce
jaguar

In [17]:
for Car in Cars:    #for loop by iterating over a list uisng a variable.
    print(Car.upper())

AUDI
BMW
MERCEDES
ROLLSROYCE
JAGUAR

In [18]:
for i in range(4,20,5): #for loop by iterating over a sequence using range function
    print(i)

4
9
14
19

# List Comprehensions

In [19]:
# This is the normal version of for loop coupled with if statement
nums = [25,9,64,49,144,256]
num_divby2 = [] 
for num in nums:
    if num % 2 == 0:
        num_divby2.append(num)
else:
    pass

In [20]:
num_divby2

[64, 144, 256]

In [21]:
#  This is List comprehension, an elegant way of creating lists wihout iterating through loops.
nums = [9,16,49,100,169,324]
num_div2 = []
num_div2 = [num for num in nums if num % 2 == 0]
num_div2

[16, 100, 324]

In [22]:
num_div2 = [num if num%2==0 else math.sqrt(num) for num in nums]
num_div2

[3.0, 16, 7.0, 100, 13.0, 324]

# OS interfaces

In [23]:
import os
import tempfile

In [ ]:
tmpdir = tempfile.gettempdir()
os.listdir(tmpdir)

In [43]:
print("Current working directory:",os.getcwd()) #prints the current directory on which you are working
print(os.name) #prints the name of the Operating system you are using
os.rename('C00l.txt','CooL.txt')  # renames the file C00l to CooL.

Current working directory: C:\Users\hp
nt

In [56]:
Data = ['Hola mi amigo','como estas']

with open("Cool.txt","w") as f: # opens the filename Cool in write mode and automatically closes it after the data is written. 
    for data in Data:
        f.write(data +"\n")

In [57]:
fd = open("Cool.txt",'r') # opens the file Cool.txt in read mode
fd.readlines()            # read the entire file at a time
fd.close()                #closes the file.